/* Phil Welsh */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

#progressBarBackground {
  width: 60%;
  background-color: red;
  border: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 5px;
}

#progressBar {
  height: 30px;
  background-color: green;
  width: 0%;
  }

#centerPiece {
  display: flex;
  align-items: center;
  justify-content: center;
}

#statsContainer {
  display: none;
  overflow-wrap: break-word;
  max-width: 15vw;
  padding: 15px;
}

#statsLiContainer {
  text-align: left;
  padding-left: 0;
}

#snailContainer {
  display: none;
}

#progressBarContainer {
  display: none;
  justify-content: center;
  align-items: center;
}

#buttonContainer {
  display: none;
}

#buttonLiContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#nameContainer {
  padding: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titleContainer {
  padding: 10px;
  margin: 10px;
  justify-content: center;
  text-align: center;
}

#snail {
  max-width: 150px;
  max-height: 150px;
}

#endGameContainer {
  display: none;
  text-align: center;
  margin: auto;
  width: 60%;
}

#replayButton {
  margin: 10px;
  padding: 3px;
  cursor: pointer;
}

.btn {
  list-style: none;
  margin: 3px;
}

.statsLi {
  list-style: none;
}

#eatButton {
  cursor: pointer;
  border: 1.5px;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
  color: black;
}

#playCardsButton {
  cursor: pointer;
  border: 1.5px;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
}

#setUpCampButton {
  cursor: pointer;
  border: 1.5px;
  border-color: black;
  border-radius: 3px;
  border-style: solid;
}
